@page
@model IndexModel
@{
    ViewData["Title"] = "Каталог монет";
}


<div class="table-responsive">
    <table class="table table-striped recipe">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Год</th>
                <th>Номинал</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coin in Model.Coins)
            {
                <tr>
                    <td class="align-middle">@coin.Name</td>
                    <td class="align-middle">@coin.Year</td>
                    <td class="align-middle">@coin.Nominal</td>
                    <td class="align-middle"><a asp-page="View" asp-route-id="@coin.Id" class="btn btn-primary">Подробно</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-page="/Create" class="btn btn-success">Добавить</a>